@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

:root {
  --body-col: #f0f8ff;
  --cart-col: #fff;
  --primary-txt-col: #000000;
  --secondary-txt-col: #3d3d3d;
  --ternary-txt-col: #fff;
  --secondary-col: #f83b66;
}

body {
  width: 100%;
  background-color: var(--body-col);
}

.cart-container {
  width: 400px;
  height: 100vh;
  background-color: var(--cart-col);
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  border-radius: 8px;
  padding: 14px;
  position: fixed;
  top: 0;
  right: 0;
}

img {
  object-fit: contain;
}

.add,
.minus {
  font-size: 1.3rem;
  width: 2rem;
  height: 100%;
  color: var(--ternary-txt-col);
  background-color: var(--secondary-col);
  cursor: pointer;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

/*! ______________________________ Product Card Styles ___________________________________  */

.card {
  width: 300px;
  height: 400px;
  background-color: #fff;
  border: 1px solid #ccc;
  padding: 1rem;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.product-img {
  width: 100%;
  height: 200px;
  border-radius: 8px;
}

.product-buy {
  width: 100%;
  height: 50px;
  justify-content: space-between;
}

.counter,
.buybtn {
  width: 48%;
  height: 45px;
  font-size: 0.9rem;
  font-weight: 600;
  border: 2px solid var(--secondary-col);
  border-radius: 5px;
  cursor: pointer;
}

.count-show {
  width: 100%;
  height: 100%;
  font-size: 1rem;
  display: flex;
  justify-content: space-between;
  display: none;
}

.buybtn {
  font-size: 1rem;
  background-color: var(--secondary-col);
  color: var(--ternary-txt-col);
}

.buybtn:hover {
  color: var(--primary-txt-col);
  background-color: transparent;
  border: 2px solid var(--secondary-col);
}

.show {
  display: flex;
}

.hide {
  display: none;
}

.product-list {
  width: 80%;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
    margin-top: 1.5rem;
}

.product {
  width: auto;
  height: auto;
  margin: 1rem;
  padding-bottom: 1rem;
  display: flex;
  align-items: center;
}

/*! _______________________________________ Cart Style _______________________________________  */

.cart {
  width: 350px;
  height: 100vh;
  padding: 14px;
  position: fixed;
  top: 0;
  right: 0;
  background-color: var(--cart-col);
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  border-top: 2px solid #ccc;
  flex-direction: column;
  justify-content: space-around;
}

.order-btn {
  font-size: 1rem;
  font-weight: 600;
  padding: 5px 1rem;
  color: var(--ternary-txt-col);
  background-color: var(--secondary-col);
  border: none;
  outline: none;
  border-radius: 8px;
  gap: 8px;
}

.cart-heading {
  gap: 12px;
  border-bottom: 2px solid #ccc;
}

.cart-icon {
  margin-top: 6px;
}

.cart-amount {
  width: 100%;
  /* gap: 25px; */
  justify-content: space-around;
  margin-bottom: 1rem;
}

.wishlist {
  width: 100%;
  min-height: 80vh;
  height: auto;
  /* border: 1px solid #ccc; */
}

.wishlist-item {
  width: 100%;
  height: 90px;
  border-bottom: 1px solid #ccc;
  justify-content: space-evenly;
}

.item-img {
  width: 80px;
  height: 100%;
  margin-right: 10px;
  background-repeat: no-repeat;
  background-size: contain;
}

/*! ___________________________________ @Media Queries ________________________________________ */

@media screen and (max-width: 900px) {
  .cart {
    width: 100%;
    height: 125px;
    position: fixed;
    bottom: 0;
    top: auto;
  }

  .product-list {
    width: 100%;
  }
}